.quien--soy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #192130;
    padding-top: 14%;
    padding-bottom: 14%;
    flex-wrap: wrap;
}
.subtitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    margin-right: 15%;
    margin-bottom: 13px;
    margin-left: 10%;
}
.subtitle--1{
    color: white;
    font-weight: 700;
    font-size: 64px;
    max-width: 100%;
}
.subtitle--2{
    color: #EEEEEEBF;
    font-weight: 400;
    font-size: 18px;
    max-width: 389px;
}
.quien--soy--img{
    max-width: 80%;
    max-height: 100%;
    margin-top: 40px;
}
@media (max-width: 375px) {
    .quien--soy{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #192130;
    }
    .subtitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Poppins";
        margin-right: 15%;
        margin-left: 10%;
        margin-bottom: 13px;
    }
    .subtitle--1{
        font-size: 42px;
    }
    .quien--soy--img{
        margin-top: 38px;
        max-width: 70%;
        max-height: 100%;
        margin-left: 10%;
    }
}
